{% extends "base.html" %}

{% block title %}کد بازیابی ارسال شد{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">مرحله اول با موفقیت انجام شد!</h4>
                <p>یک کد ۶ رقمی تستی در پنجره ترمینال شما (پنجره سیاه رنگ که سرور در آن اجراست) چاپ شد.</p>
                <hr>
                <p class="mb-0">در مرحله بعدی، ما صفحه‌ای خواهیم ساخت که شما این کد را برای تایید هویت در آن وارد کنید.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}