{% extends "base.html" %}

{% block title %}تنظیم رمز عبور جدید{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3 class="mb-0">رمز عبور جدید خود را وارد کنید</h3>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                           {% for field in form %}
                               {% for error in field.errors %}
                                   <p class="mb-0">{{ error }}</p>
                               {% endfor %}
                           {% endfor %}
                           {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <p>لطفاً رمز عبور جدید خود را دو بار وارد کنید تا از صحت آن مطمئن شویم.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">ثبت رمز جدید و ورود</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
