{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <header class="text-center mb-5">
    </header>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for product in page_obj %}
    <div class="col">
      <a href="{% url 'catalog:product_detail' pk=product.pk %}" class="text-decoration-none">
        <div class="card h-100 product-card">
          </div>
      </a>
    </div>
    {% empty %}
      <div class="col-12">
        <div class="alert alert-warning text-center mt-4" role="alert">
          <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">بازگشت به لیست همه محصولات</a>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}