{% extends 'base.html' %}

{% block content %}
<div style="max-width:600px; margin:auto; background:white; padding:20px; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,0.1);">
  <h2 style="color:#16a34a; text-align:center; margin-bottom:20px;">فرم تماس با ما</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" style="width:100%; background:#16a34a; color:white; padding:12px 20px; font-weight:bold; border:none; border-radius:5px; margin-top:10px;">
      ارسال پیام
    </button>
  </form>
</div>
{% endblock %}
